# Next 프록시가 /api/* 를 전달할 백엔드 주소 (런타임 server 변수, NEXT_PUBLIC_ 아님)
#
# 로컬 개발(pnpm dev): 백엔드 공인 IP
BACKEND_URL=http://175.106.96.71:8081
#
# Docker 배포(docker compose): 같은 네트워크의 백엔드 컨테이너 이름 사용
# BACKEND_URL=http://biobigdata-qc-server:8080
